@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@using Sicsoft.Checkin.Web.Models;
@inject IHttpContextAccessor httpContextAccessor
@{
    var Roles = ((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == "Roles").Select(s1 => s1.Value).FirstOrDefault().Split("|");
}


<div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-mini">
        CP
    </a>
    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
        Creador de Pedidos
    </a>
</div>

<div class="sidebar-wrapper" id="sidebar-wrapper">
    <ul class="nav">
        <li>
            <a href="./dashboard.html">
                <i class="now-ui-icons design_app"></i>
                <p>Dashboard</p>
            </a>
        </li>
       
    </ul>
</div>